ul {
  list-style: none;
  padding-left: 0;
  font-size: 80%;
}

.bodyContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.card-img-fill {
  /* width: 254px; */
  object-fit: fill;
  height: 168px;
}